/Currencies
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/Personal.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/dictionaries/rabihfawaz.xml
/.idea/vcs.xml
